[submodule "RestApiDesignDevelopementAndManagement/REST-API-Course-Swagger"]
	path = RestApiDesignDevelopementAndManagement/REST-API-Course-Swagger
	url = https://github.com/acloudfan/REST-API-Course-Swagger
[submodule "RestApiDesignDevelopementAndManagement/REST-API-Course-API-Management"]
	path = RestApiDesignDevelopementAndManagement/REST-API-Course-API-Management
	url = https://github.com/acloudfan/REST-API-Course-API-Management
[submodule "RestApiDesignDevelopementAndManagement/REST-API-Course"]
	path = RestApiDesignDevelopementAndManagement/REST-API-Course
	url = https://github.com/acloudfan/REST-API-Course
[submodule "RestApiDesignDevelopementAndManagement/REST-API-Caching"]
	path = RestApiDesignDevelopementAndManagement/REST-API-Caching
	url = https://github.com/acloudfan/REST-API-Caching
[submodule "RestApiDesignDevelopementAndManagement/REST-API-Course-V2"]
	path = RestApiDesignDevelopementAndManagement/REST-API-Course-V2
	url = https://github.com/acloudfan/REST-API-Course-V2.git
[submodule "RestApiDesignDevelopementAndManagement/REST-API-Course-Security"]
	path = RestApiDesignDevelopementAndManagement/REST-API-Course-Security
	url = https://github.com/acloudfan/REST-API-Course-Security.git
